<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Verify TxID</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <form method="post" action="/verify-certificate" id="form" class="validate form">
    <h2>Verify TxID</h2>
    <p>Enter TxID to verify</p>
    <div class="form-field">
      <label for="certificateId"> TxID : </label>
      <input type="text" placeholder="Enter TxID" id="txid" name="TxId" required />
    </div>
    <div class="form-field">
      <label for=""></label>
      <input type="submit" value="Verify TxID" />
    </div>
    <div class="crtverify">
      <% if (isValid !=null) { %>
        <p class="<%= isValid ? 'green btn' : 'red btn' %>">Valid: <%= isValid ? 'Yes' : 'No' %>
        </p>
        <% } %>
    </div>
    <div class="links">
      <a class="back" href="/">Back</a>
    </div>
  </form>
</body>

</html>